- name: Install hardware and software required packages
  apt:
    name:
      - i2c-tools
      - python3-pip
      - python3-venv
    state: latest
    # TODO: which modules are actually needed
    #- build-essential
    #- libi2c-dev
    #- i2c-tools
    #- python3-dev
    #- libffi-dev
    #- python3-rpi.gpio
    #- python3-smbus

- name: Modify boot configuration
  template: src=config.txt.j2 dest=/boot/config.txt owner=root group=root mode=0755
  register: bootconfig

- name: Restart machine if config.txt changed
  command: shutdown -r now "Config.txt updated. Restarting..."
  async: 0
  poll: 0
  ignore_errors: true
  when: bootconfig.changed

- name: Waiting for the server to finish rebooting
  local_action: wait_for host="{{ inventory_hostname }}" search_regex=OpenSSH port=22 timeout=300 delay=30
  become: false
  when: bootconfig.changed

- name: Install kernel module i2c_bcm2708
  modprobe: name=i2c_bcm2708 state=present

- name: Install kernel module i2c_dev
  modprobe: name=i2c_dev state=present

- name: Add kernel modules to /etc/modules
  template: src=modules.j2 dest=/etc/modules owner=root group=root mode=0644